[printer]
kinematics: cartesian
max_velocity: 1100
max_accel: 5000
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 5.0

[stepper_x]
homing_speed: 60
second_homing_speed: 1
homing_retract_dist: 2.0
position_endstop: -9
position_min: -10
position_max: 246
# position_max: 234

[stepper_y]
homing_speed: 60
second_homing_speed: 1
homing_retract_dist: 2.0
position_max: 219
# position_max: 227
position_endstop: -12
position_min: -13

[stepper_z]
homing_speed: 40
second_homing_speed: 1
homing_retract_dist: 1.5
position_min: -4.5
position_max: 220


[safe_z_home]
home_xy_position: 100, 100
#   A X, Y coordinate (e.g. 100, 100) where the Z homing should be
#   performed. This parameter must be provided.
#speed: 50.0
#   Speed at which the toolhead is moved to the safe Z home
#   coordinate. The default is 50 mm/s
#z_hop:
#   Distance (in mm) to lift the Z axis prior to homing. This is
#   applied to any homing command, even if it doesn't home the Z axis.
#   If the Z axis is already homed and the current Z position is less
#   than z_hop, then this will lift the head to a height of z_hop. If
#   the Z axis is not already homed the head is lifted by z_hop.
#   The default is to not implement Z hop.
#z_hop_speed: 15.0
#   Speed (in mm/s) at which the Z axis is lifted prior to homing. The
#   default is 15 mm/s.
#move_to_previous: False
#   When set to True, the X and Y axes are reset to their previous
#   positions after Z axis homing. The default is False.
